<% provide :title, t(".title") %>
<body>
  <h1><%= t ".title" %></h1>
  <p>
    <%= link_to (t ".linkToHelp"), "http://www.railstutorial.org/help" %><%= t ".linkName" %><br>
    <%= link_to (t ".linkToBook1"), "http://www.railstutorial.org/book" %>
  </p>
  <%= link_to (t "langEnglish"), locale:"en" %>
  <%= link_to (t "langVietNam"), locale:"vi" %>
</body>
