<footer class="footer">
  <small>
    <%= t ("the") %><%= link_to (t "linkRailsTutorial"), "http://www.railstutorial.org/" %>
    <%= t ("by") %><%= link_to (t "michael"), "http://www.michaelhartl.com/" %>
  </small>

  <nav>
    <ul>
      <li><%= link_to (t "titleAbout"), about_path %></li>
      <li><%= link_to (t "titleContact"), contact_path %></li>
      <li><%= link_to (t "news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
